<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <a href ="/">
     
    <img class="navbar-brand" href="/" src="../../../assets/images/logo.png" width="50px" height="50px">
   
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="/home" style="color: rgb(105, 104, 104);"> Home</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="/about" style="color:rgb(105, 104, 104);"> About </a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="/products" style="color: rgb(105, 104, 104);">Things to Do</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="/services"  style="color: rgb(105, 104, 104);">Services </a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="/event-list"  style="color: rgb(105, 104, 104);"> Event </a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="/contact" style="color: rgb(105, 104, 104);"> Contact </a>
        </li>
        
        <li *ngIf='isLoggedIn()' class="nav-item ml-5 " [routerLinkActive]="['active']">
          <a class="nav-link text-warning" routerLink="/admin/main"><i class="fas fa-lg fa-user-shield"></i> Admin </a>
        </li>

        <li *ngIf='isLoggedIn()'
            class="navbar-text text-success ml-5 mr-5 d-none d-lg-inline">
            <i class="fas fa-lg fa-user"></i> Welcome, {{ user.displayName }}
        </li>


        <li *ngIf='isLoggedIn()' class="nav-item">
          <a (click)='onLogoutClick()' routerLink='/logout' class="nav-link" href="/login" style="color: rgb(105, 104, 104);">
            <i class="fas fa-lg fa-sign-out-alt"></i> Logout </a>
        </li>

        <li *ngIf='!isLoggedIn()' class="nav-item">
          <a class="nav-link" routerLink="/login" style="color: rgb(105, 104, 104);"><i class="fas fa-lg fa-sign-in-alt"></i> Login </a>
        </li>


        <li class="navbar-text">
          <app-cart-summary></app-cart-summary>
        </li>
    </ul>

  </div>
</nav>

