input.ng-dirty.ng-invalid
{
  border: 2px solid #ff0000;
}

input.ng-dirty.ng-valid
{
  border: 2px solid #6bc502;
}
.btn-secondary {
  color: #fff;
  background-color: rgb(198, 57, 57);
  border-color:  rgb(198, 57, 57);;
}

.btn-primary {
  color: #fff;
  background-color: #208c39;
  border-color:  #208c39;
}