/*.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary {
    color: #fff;
    background-color: #208c39;
}

.btn-secondary {
    color: #fff;
    background-color: rgb(198, 57, 57);
}
*/